/**
  font-family: 'EB Garamond', serif;
  font-family: 'Oswald', sans-serif;
**/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;800&family=Oswald&display=swap');

body, html { 
  padding: 0; 
  margin: 0;
  font-family: 'EB Garamond', serif;
  line-height: 1.4em;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.tags {
  margin-top: 12px;
}
.tags li {
  display: inline-block;
  color: #333;
  font-size: .9em; 
  padding-right: 4px;
  text-decoration: underline;
}
.flex-col :nth-child(1) {
  font-size: 0.8em;
  font-weight: 400;
}
.flex-col :nth-child(2) {
  font-size: 0.8em;
}
.flex-col :nth-child(3) {
  font-size: 0.6em;
}
.xp-container :nth-child(2){
  padding: 0;
  margin: 0;
}
.xp-container .flex :nth-child(1) {
  font-size: 0.8em;
  padding-right: 12px;
  margin-right: 12px;
  border-right: 2px solid #ebebeb;
  font-weight: 400;
}
.xp-container .flex :nth-child(2) {
  font-size: 0.8em;
}
.xp-container .flex :nth-child(3) {
  font-size: 0.6em;
}
h1 {
  line-height: 50px;
}
h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.grid-layout {
  display: grid;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  grid-gap:  20px;
  grid-template-columns: 580px repeat(3, 1fr) 270px;
  grid-template-areas:
    "infos xp1 xp1 xp1 technos"
    "infos xp2 xp2 xp2 technos"
    "infos xp3 xp3 xp3 technos"
    "infos xp4 xp5 xp6 technos";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.technos {
  padding-left: 20px;
  border-left: 1px solid #ebebeb;
}
.technos ul li {
  border-bottom: 1px dotted #ccc;
  line-height: 30px;
}
.infos { 
  display: flex;
  border-right: 1px solid #ebebeb;
  padding: 0 15%;
  flex-direction: column;
  justify-content: space-between;
  grid-area: infos;
  text-align: center;
}
.xp1 { grid-area: xp1; }
.xp2 { grid-area: xp2; }
.xp3 { grid-area: xp3; }
.xp4 { grid-area: xp4; }
.xp5 { grid-area: xp5; }
.xp6 { grid-area: xp6; }
.technos { grid-area: technos; }

@media screen and (max-width:1480px){
  .xp-container {
    border: 1px solid #ebebeb;
    padding: 10px;
  }
  .xp-container .flex :nth-child(1) {
    border: 0;
  }
  .infos { 
    border-right: 0;
    padding: 0;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: start;
    grid-area: infos;
    text-align: left;
  }
  .flex {
    display: block;
  }
  .infos > ul {
    order: 1;
  }
  .infos > p {
    padding-bottom: 21px;
  }
  .technos {
    padding: 0;
    border: 0;
  }
  .grid-layout {
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "infos infos technos"
      "xp1 xp2 xp3"
      "xp4 xp5 xp6";
  }
}​

@media print {
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
  .infos {
    padding: 12px;
    text-align: left;
  }
  .xp-container {
    border: 0;
    border-top: 1px solid #ebebeb;
    padding: 10px;
  }
  .flex {
    display: block;
  }
  .grid-layout {
    padding: 0;
    grid-gap:  20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "infos"
      "xp1"
      "xp2"
      "xp3"
      "xp4"
      "xp5"
      "xp6"
      "technos";
  }
  .xp1, .xp2, .xp3, .xp4, .xp5, .xp6, .technos   {  padding: 10px;}
}
